.home {
    border: 1px solid #313131;
    border-radius: 3px;
    padding: 10px;
    background: #313131;
        color: #b1b1b1;
    margin-top: -26px;
}

.borders{
    background: #333333;
padding: 10px;
border: 1px solid #292929;
border-radius: 3px;

}
.kar{
  padding: 0px 15px;
}
.nopoint{
      list-style-type: none;
}

.centered{
      text-align: left;
        padding-left: 0px;
}

.ororo>li>a {
    position: relative;
    display: block;
    padding: 0px;
}

.hidden{
  display:none;
}


.ororo>li>a:focus, .ororo>li>a:hover {
    outline: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
        left: auto;
    right: 18px;
  }

.roso2{
  display: inline-block !important;

}

.roso2 >a{
      color: #c1c1c1;
background: none;

background-color: none;
}

.roso2 >a:focus{
  text-decoration: none;
      color: #c1c1c1;
background: none;
opacity: 0.8;
background: none !important;
}

.roso2 >a:active{
  text-decoration: none;
      color: #c1c1c1;
background: none;
opacity: 0.8;
background: none !important;
}

.roso2 >a:hover{
  text-decoration: none;
      color: #c1c1c1;
background: red;
opacity: 0.8;
background: none !important;
}

.ppad{
      padding: 0px 0px 16px 1px;
}

.ppad2{
  height: 118px;
      padding: 0px 0px 16px 1px;
}

.padd12{
  padding-top:12px !important;
}

.layer {
   overflow: scroll; /* Добавляем полосы прокрутки */
   width: 100%; /* Ширина блока */
   height: 100px; /* Высота блока */
   padding: 5px; /* Поля вокруг текста */

  }

.nav>li>a:hover {
    text-decoration: none;
    background-color: #404040;
}

.roso2::hover{
  text-decoration: none;
      color: #c1c1c1;
background: red;
opacity: 0.8;
background: none !important;
}

.itemo{
list-style-type: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      color: #c1c1c1;
          z-index: 2;



    background-color: #404040;
}


.nav-stacked>li:focus {
     outline: none;
}

.astab{
  border: 1px solid #404040;
    top: -2px;
    position: relative;
    margin: 0px 3px;
    padding: 14px;
    border-radius: 0 0 3px 3px;
    z-index: 1;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
      color: #c1c1c1;

}

.nopadding{
      padding-left: 0px;
          padding: 4px 0px;
}

.trasa::before {
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\F007";
  }

  .trasa{
    list-style-type: none;
    position: absolute;
right: -7px;
top: 15px;

  }

  .dropdown-toggle{
    opacity: 0;
background: red;
position: relative;
width: 30px;
height: 20px;
left: -15px;
padding: 2px 6px;
  }

.padding10{
  padding: 0px 10px;
}

.innerline{
  background: #292929;
padding: 0;
/* width: 552px; */
margin-bottom: 10px;
margin-top: 11px;
height: 2px;
/* margin-left: -10px; */
border-top: 1px solid #3c3b3b;

}

.paddingfull10{
      padding: 10px;
      color: #828282;

}

.borders:before {
    content: " ";
    position: absolute;
    /* z-index: -1; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #3c3b3b;
    border-radius: 2px;
  }

.Ros{
      padding: 3px;
}

.navbar{
      margin-top: 10px;
}

body{
  background-color: #000;
}

.ahref{
  color: #bbbbbb;
  text-decoration: none;
}
.ahref:hover,
.ahref:focus {
  color: #969696;
text-decoration: none;
}
.ahref:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.tratata{
  float: right;
position: relative;
right: -313px;
}










#Calen header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}

#Calen ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

#Calen li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

#Calen ul.weekdays {
  margin-bottom: 1em;
}

#Calen ul.weekdays li {
  height: 4vw;
}

#Calen ul.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}

#Calen ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

#Calen ul.day-grid li:nth-child(1),
#Calen ul.day-grid li:nth-child(2),
#Calen ul.day-grid li:nth-child(3),
#Calen ul.day-grid li:nth-child(34),
#Calen ul.day-grid li:nth-child(35) {
  background-color: #fff;
}

@media all and (max-width: 800px) {
  #Calen ul {
    grid-gap: .25em;
  }

  #Calen ul.weekdays li {
    font-size: 0;
  }

  #Calen ul.weekdays > li p:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }
}
